.planetWrapper {
  width: 100vw;
  padding-top: 15vh;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.leftBtn,
.rightBtn {
  width: 3%;
  height: 6%;
  border: 1px solid red;
  cursor: pointer;
}

.carouselData {
  width: 97%;
  height: 100%;
}
