.footerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLeft {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRight {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerRight > div {
  padding: 4%;
  text-align: justify;
}

.footerRight > div > a  {
  line-height: 2rem;
  font-size: larger;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 7px;
}
